//tamaños de foto de perfil
$tamanio_inicio:100px;
$tamanio_otros:80px;
$tamanio_menuinicio:60px;
$tamanio_menuotros:40px;
//colores modo oscuro
$color_primario_oscuro:#131313;
$color_secundario_medio:#2B2B2B;
$color_terciario_claro:#86868B;
$color_contraste_claro:#FFFFFF;
$color_contraste_oscuro:#1561f0;
