.switchIngles_container{
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 45px;
    height: 22PX;
    border-radius: 10px;
    background-color: $color_terciario_claro;
    div{
        font-size: small;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background-color: azure;
        img{
            height: 20px;
        }
        .opacar{
            opacity: 40%;
        }  
    }
    
}
